/*
 * -------------------------------------------------
 *  nf-core/circrna Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

//process {
//   executor = 'k8s'
//}

//k8s {
//   storageClaimName = 'scw1162-data'
//   storageMountPath = '/scw1162-data'
////   storageSubPath = '/my-data'
//}



profiles {
  debug { process.beforeScript = 'echo $HOSTNAME' }
  k8s {
    singularity.enabled = false
    docker.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
    process.executor='k8s'
    k8s.storageClaimName = 'scw1162-data'
    k8s.storageMountPath = '/scw1162-data'
    }
  }

