/*
 * -------------------------------------------------
 *  ARCCA/nextflow-tutorial-k8s Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
    description = 'nf003: RNAseq PE STAR'
    mainScript = 'main.nf'
}

params {

    userID = "c.c1045890"
    projectDir = "/scw1162-data/projects/ARCCA/nextflow-tutorial-k8s"
    //launchDir = "/scw1162-data/${userID}"
    dataDir = "/scw1162-data/${userID}/data"
    analysisID = "nf-test"

    genomeName = "Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
    gtfName = "Homo_sapiens.GRCh38.108.gtf"

    sleepTimeStart = '0m'
    sleepTimeEnd = '0m'

    srcDir = "src"
    inputDir = "input"
    outputDir = "output"
    resourcesDir = "resources"
    releaseDir = "release"

    trimgaloreJobCpus = "4"
    genomeIndexJobCpus = "4"
    starMappingJobCpus = "4"
    markDuplicatesCpus = "4"
    featureCountsJobCpus = "2"

    picardExecutable = "/opt/picard/picard.jar"
}

profiles {
  debug { process.beforeScript = 'echo $HOSTNAME' }
  k8s {
    process.executor='k8s'
    k8s.storageClaimName = 'scw1162-data'
    k8s.storageMountPath = '/scw1162-data'
    k8s.serviceAccount = 'nextflow-sa'
    }
  }
