/*
 * -------------------------------------------------
 *  ARCCA/nextflow-tutorial-k8s Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
    description = 'nf003: RNAseq PE STAR'
    mainScript = 'main.nf'
}

params {

    projectDir = "/scw1162-data/projects/ARCCA/nextflow-tutorial-k8s"
    dataDir = "/scw1162-data/c.c1045890/data"

    genomeName = "Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
    gtfName = "Homo_sapiens.GRCh38.108.gtf"

    userID = "c.c1045890"
    userProjectCode = "scw1001"

    sleepTimeStart = '0m'
    sleepTimeEnd = '0m'
    retries = '5'

    genome = "/scratch/${userID}/scw1162/nextflow-example/testResources/assembly/${genomeName}"
    gtf = "/scratch/${userID}/scw1162/nextflow-example/testResources/gtf/${gtfName}"


    srcDir = "src"
    inputDir = "input"
    outputDir = "output"
    resourcesDir = "resources"
    releaseDir = "release"

    python3Version = "python/3.6.4"

    trimgaloreJobCpus = "4"

    copyGenomeJobLength = "20m"
    copyGTFJobLength = "20m"

    starVersion = "STAR/2.7.9a"
    genomeIndexJobLength = "4h"
    genomeIndexJobMemory = "50.G"
    genomeIndexJobCpus = "8"

    starMappingJobLength = "30h"
    starMappingJobMemory = "80.G"
    starMappingJobCpus = "8"

    picardVersion = "picard/2.20.2"
    picardRVersion = "R/4.2.0"
    picardExecutable = "/opt/picard/picard.jar"
    markDuplicatesJobLength = "10h"
    markDuplicatesJobMemory = "80.G"

    samtoolsVersion = "samtools/1.9"

    bamtoolsVersion = "bamtools/170119"
    bamtoolsJobLength = "1h"
    bamtoolsJobMemory = "40.G"

    bamtoolsReportJobLength = "2h"

    collectInsertSizeMetricsJobLength = "4h"
    collectInsertSizeMetricsJobMemory = "60.G"

    featureCountsVersion = "subread/2.0.0-binary"
    featureCountsJobLength = "8h"
    featureCountsJobMemory = "60.G"
    featureCountsJobCpus = "2"

    featureCountsReportJobLength = "2h"
    featureCountsReportJobMemory = "40.G"

    makeReleaseJobLength = "10h"

  execution {
    queue_size = 100
    threads = 1
    max_retries = 5
    error_strategy = "retry"
  }
}

profiles {
  debug { process.beforeScript = 'echo $HOSTNAME' }
  k8s {
    singularity.enabled = false
    docker.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
    process.executor='k8s'
    k8s.storageClaimName = 'scw1162-data'
    k8s.storageMountPath = '/scw1162-data'
    k8s.namespace = 'nextflow'
    k8s.serviceAccount = 'nextflow-sa'
    }
  }

